:root {
  --std-max-width: none;
}

body {
  background: #fcfcfc;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Helvetica, sans-serif;
  color: #3d3b39;
  font-size: 1em;
}

main > header {
  padding: 1em;
  text-align: center;
  font-weight: normal;
  font-size: .8rem;
}

details {
  margin-bottom: 1em;
}

footer {
  text-align: center;
  padding: 1em;
  font-size: .8rem;
}

img.banner {
  max-width: 2048px;
  width: 100%; }
